In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [3]:
df_ques_cluster = pd.read_csv('/drive/My Drive/Research Project IIT-I/kcc_dataset.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df_ques_cluster

,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Season,Sector,StateName,QueryText,KccAns
0,ETCHERLA,Vegetables,2013,3,4,NaN,SRIKAKULAM,NaN,NaN,HORTICULTURE,ANDHRA PRADESH,fruit borer,given
1,GARA,Cereals,2013,3,4,NaN,SRIKAKULAM,NaN,NaN,AGRICULTURE,ANDHRA PRADESH,rice blast,beam 120gac
2,GARA,Pulses,2013,3,7,Green Gram Moong Bean Moong,SRIKAKULAM,NaN,NaN,AGRICULTURE,ANDHRA PRADESH,asked about seed rate,recommended to 6-7kgacre
3,GARA,Cereals,2013,3,7,NaN,SRIKAKULAM,NaN,NaN,AGRICULTURE,ANDHRA PRADESH,fertilizers,given
4,ICHAPURAM,Oilseeds,2013,3,8,Sesame GingellyTilSesamum,SRIKAKULAM,NaN,NaN,AGRICULTURE,ANDHRA PRADESH,sesame water mgt,given information
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30773292,DELHI,Fruits,2022,7,20,Aonla,New Delhi Connaught Place,Vegetative Propagation and Tissue Culture,NaN,HORTICULTURE,DELHI,asked about to Central Sub Tropical Institute ...,Mango Guava Banana Aonal nursery is ready in ...
30773293,DELHI,Others,2022,7,20,Others,New Delhi Connaught Place,Government Schemes,NaN,AGRICULTURE,DELHI,asked about to farm road problem,-
30773294,DELHI,Others,2022,7,20,Others,New Delhi Connaught Place,Government Schemes,NaN,AGRICULTURE,DELHI,asked about farm road problem,- -
30773295,DELHI,Others,2022,7,20,Others,New Delhi Connaught Place,Government Schemes,NaN,AGRICULTURE,DELHI,ASKED ABOUT CONTECT NO OF KVK,KVK AddressKrishi Vigyan Kendra Ujwa DelhiCont...
30773296,BAHOUR,Others,2022,7,20,Others,PUDUCHERRY,Weather,NaN,AGRICULTURE,PUDUCHERRY,Farmer asked query on Weather,: : 31 15

In [5]:
df_ques_cluster.isnull().sum()

BlockName             31
Category           92860
Year                   0
Month                  0
Day                    0
Crop              209329
DistrictName           0
QueryType        1421320
Season          18102627
Sector             85083
StateName              0
QueryText           7571
KccAns           4066767
dtype: int64

In [6]:
df_20_21 = df_ques_cluster[df_ques_cluster.Year.isin([2018,2019])]

In [7]:
df_20_21

,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Season,Sector,StateName,QueryText,KccAns
16147631,PONDURU,Others,2018,1,1,Others,SRIKAKULAM,Weather,NaN,AGRICULTURE,ANDHRA PRADESH,WEATHER REPORT,WEATHER REPORT: NO RAIN IN YOUR AREA CLOUDY WE...
16147632,NARASANNAPETA,Pulses,2018,1,1,Black Gram urd bean,SRIKAKULAM,Plant Protection,NaN,AGRICULTURE,ANDHRA PRADESH,SUCKING PEST MANAGEMENT IN BLACKGRAM,RECOMMENDED TO SPRAY ACETAMIPRID
16147633,NARASANNAPETA,Others,2018,1,1,Others,SRIKAKULAM,Weather,NaN,AGRICULTURE,ANDHRA PRADESH,weather report,THERE IS A CHANCE OF CLOUDY WEATHER OCCUR IN ...
16147634,JALUMURU,Others,2018,1,1,Others,SRIKAKULAM,Weather,NaN,AGRICULTURE,ANDHRA PRADESH,WEATHER REPORT,THERE IS A CHANCE OF CLOUDY WEATHER OCCUR IN ...
16147635,NARASANNAPETA,Others,2018,1,1,Others,SRIKAKULAM,Weather,NaN,AGRICULTURE,ANDHRA PRADESH,WEATHER REPORT,THERE IS A CHANCE OF CLOUDY WEATHER OCCUR IN ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23780937,Thirunallar,Others,2019,12,31,Others,KARAIKAL,Weather,NaN,AGRICULTURE,PUDUCHERRY,Farmer asked query on Weather,NaN
23780938,KARAIKAL,Others,2019,12,31,Others,KARAIKAL,Training and Exposure Visits,NaN,AGRICULTURE,PUDUCHERRY,Asking about Pondicherry kvk contact details,NaN
23780939,KARAIKAL,Others,2019,12,31,Others,KARAIKAL,Training and Exposure Visits,NaN,AGRICULTURE,PUDUCHERRY,Asking about Thanjavur Veterinary University T...,NaN
23780940,YANAM,Animal,2019,2,10,BovineCowBuffalo,YANAM,Cattle shed Planning and Management,NaN,ANIMAL HUSBANDRY,PUDUCHERRY,Asking about Veterinary University Training an...,Recommended for Veterinary University Trainin...
23780941,YANAM,Animal,2019,6,20,BovineCowBuffalo,YANAM,Animal Production Piggery Goatery Sheep Farmin...,NaN,ANIMAL HUSBANDRY,PUDUCHERRY,Asking about Poultry farming training informat...,NaN

In [8]:
df_20_21.StateName.value_counts()

UTTAR PRADESH        1525438
RAJASTHAN            1055363
MAHARASHTRA           877081
MADHYA PRADESH        610291
HARYANA               579289
PUNJAB                536540
BIHAR                 456384
KARNATAKA             326835
GUJARAT               297578
TAMILNADU             256367
ODISHA                249750
ANDHRA PRADESH        181749
WEST BENGAL           171469
JAMMU AND KASHMIR     104748
CHHATTISGARH           86124
HIMACHAL PRADESH       79754
TELANGANA              63841
JHARKAND               38169
UTTARAKHAND            36918
KERALA                 31578
ASSAM                  30549
DELHI                  29168
TRIPURA                 3411
PUDUCHERRY              2083
MANIPUR                 1507
SIKKIM                   526
MEGHALAYA                385
ARUNACHAL PRADESH        171
MIZORAM                   84
NAGALAND                  78
A AND N ISLANDS           66
DAMAN AND DIU             17
Name: StateName, dtype: int64

In [9]:
df_20_21.isnull().sum()

BlockName             0
Category          91929
Year                  0
Month                 0
Day                   0
Crop             109537
DistrictName          0
QueryType        295446
Season          5394407
Sector            85083
StateName             0
QueryText          1616
KccAns          3933565
dtype: int64

## Dropping rows containing empty ques & ans

In [14]:
df_20_21.dropna(subset=['KccAns', 'QueryText']).isnull().sum()

BlockName             0
Category          91923
Year                  0
Month                 0
Day                   0
Crop             109526
DistrictName          0
QueryType        295423
Season          1469375
Sector            85083
StateName             0
QueryText             0
KccAns                0
dtype: int64

In [15]:
df_20_21_new = df_20_21.dropna(subset=['KccAns', 'QueryText']).drop(columns='Season')

In [16]:
df_20_21_new

,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Sector,StateName,QueryText,KccAns
16147631,PONDURU,Others,2018,1,1,Others,SRIKAKULAM,Weather,AGRICULTURE,ANDHRA PRADESH,WEATHER REPORT,WEATHER REPORT: NO RAIN IN YOUR AREA CLOUDY WE...
16147632,NARASANNAPETA,Pulses,2018,1,1,Black Gram urd bean,SRIKAKULAM,Plant Protection,AGRICULTURE,ANDHRA PRADESH,SUCKING PEST MANAGEMENT IN BLACKGRAM,RECOMMENDED TO SPRAY ACETAMIPRID
16147633,NARASANNAPETA,Others,2018,1,1,Others,SRIKAKULAM,Weather,AGRICULTURE,ANDHRA PRADESH,weather report,THERE IS A CHANCE OF CLOUDY WEATHER OCCUR IN ...
16147634,JALUMURU,Others,2018,1,1,Others,SRIKAKULAM,Weather,AGRICULTURE,ANDHRA PRADESH,WEATHER REPORT,THERE IS A CHANCE OF CLOUDY WEATHER OCCUR IN ...
16147635,NARASANNAPETA,Others,2018,1,1,Others,SRIKAKULAM,Weather,AGRICULTURE,ANDHRA PRADESH,WEATHER REPORT,THERE IS A CHANCE OF CLOUDY WEATHER OCCUR IN ...
...,...,...,...,...,...,...,...,...,...,...,...,...
23780478,KARAIKAL,Others,2019,2,18,Others,KARAIKAL,Organic Farming,AGRICULTURE,PUDUCHERRY,Asking about Waste decomposer availability,Recommended for national Centre for Organic fa...
23780479,Thirunallar,Others,2019,2,18,Others,KARAIKAL,Weather,AGRICULTURE,PUDUCHERRY,Asking about weather report for karaikal district,Recommended for today having light to moderat...
23780480,KARAIKAL,Others,2019,2,20,Others,KARAIKAL,Weather,AGRICULTURE,PUDUCHERRY,Asked about Karaikal district weather Report,Recommended for Karaikal district Today No Ra...
23780481,Thirunallar,Others,2019,2,20,Others,KARAIKAL,Weather,AGRICULTURE,PUDUCHERRY,Asking about Karaikal weather report information,Recommended for having no rain 0 mmtoday
23780940,YANAM,Animal,2019,2,10,BovineCowBuffalo,YANAM,Cattle shed Planning and Management,ANIMAL HUSBANDRY,PUDUCHERRY,Asking about Veterinary University Training an...,Recommended for Veterinary University Trainin...

In [17]:
df_20_21_new.StateName.value_counts()

UTTAR PRADESH        711464
RAJASTHAN            565923
MAHARASHTRA          441290
MADHYA PRADESH       312767
HARYANA              285254
PUNJAB               244681
BIHAR                186946
KARNATAKA            178735
TAMILNADU            145032
ODISHA               136769
GUJARAT              111637
ANDHRA PRADESH        81809
WEST BENGAL           73284
JAMMU AND KASHMIR     47974
HIMACHAL PRADESH      39289
CHHATTISGARH          31092
DELHI                 20709
TELANGANA             19097
UTTARAKHAND           18025
ASSAM                 17851
JHARKAND              12864
KERALA                12219
TRIPURA                2115
MANIPUR                1171
PUDUCHERRY             1113
MEGHALAYA               217
SIKKIM                  185
ARUNACHAL PRADESH       104
NAGALAND                 46
MIZORAM                  38
DAMAN AND DIU             4
A AND N ISLANDS           3
Name: StateName, dtype: int64

## Selecting state and number of rows

In [55]:
df_up_150000 = df_20_21_new[df_20_21_new.StateName == 'MAHARASHTRA'].sample(n=145000)

In [56]:
df_up_150000

,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Sector,StateName,QueryText,KccAns
17424983,MANWAT,Others,2018,9,14,Others,PARBHANI,Weather,AGRICULTURE,MAHARASHTRA,Asking about weather forecast,This week weather is CLOUDY and Possibility o...
17335499,BARSHI,Fruits,2018,6,16,Papaya,SOLAPUR,Market Information,HORTICULTURE,MAHARASHTRA,market rate papaya,market rate papaya -500-1700 rsquintal
17290702,NEVASA,Others,2018,8,1,Others,AHMADNAGAR,Weather,AGRICULTURE,MAHARASHTRA,Asking about weather forecast,Cloudy Weather Rainfall Chances Today
17371262,PAITHAN,Others,2018,8,1,Others,AURANGABAD,Field Preparation,AGRICULTURE,MAHARASHTRA,ASKING ABOUT GOVERNMENT SCHEME,FOR DETAIL INFORMATION ABOUT GOVERNMENT SCHEME...
17273796,SHRIRAMPUR,Vegetables,2018,1,19,Onion,AHMADNAGAR,Market Information,HORTICULTURE,MAHARASHTRA,Asking About Market Rate OF ONION,Market Rate of ONION IN LASALGAO MARKET - 1100...
...,...,...,...,...,...,...,...,...,...,...,...,...
17460976,KINWAT,Others,2018,6,8,Others,NANDED,Weather,AGRICULTURE,MAHARASHTRA,Asking about weather forecast,Todays weather Partly cloudy and Possibility o...
17531713,DEULGAON RAJA,Others,2018,10,22,Others,BULDANA,Government Schemes,AGRICULTURE,MAHARASHTRA,ASKING ABOUT GOVERNMENT SCHEME,FOR DETAIL INFORMATION ABOUT GOVERNMENT SCHEME...
21266693,NANDURA,Others,2019,1,26,Others,BULDANA,Weather,AGRICULTURE,MAHARASHTRA,Asking about weather forecast,This week weather is CLOUDY and LIGHT Possibil...
17421007,PURNA,Vegetables,2018,8,10,Mushroom,PARBHANI,Bio-Pesticides and Bio-Fertilizers,HORTICULTURE,MAHARASHTRA,mushroom cultivation,mushroom cultivation -mashroom seeds are calle...
17569101,PUSAD,Others,2018,3,10,Others,YEVATMAL,Weather,AGRICULTURE,MAHARASHTRA,ASKING ABOUT WEATHER FORECAST,Today Weather is partially cloudy and No possi...

In [57]:
df_up_150000.KccAns

17424983    This week weather is CLOUDY and  Possibility o...
17335499               market rate papaya -500-1700 rsquintal
17290702                Cloudy Weather Rainfall Chances Today
17371262    FOR DETAIL INFORMATION ABOUT GOVERNMENT SCHEME...
17273796    Market Rate of ONION IN LASALGAO MARKET - 1100...
                                  ...
17460976    Todays weather Partly cloudy and Possibility o...
17531713    FOR DETAIL INFORMATION ABOUT GOVERNMENT SCHEME...
21266693    This week weather is CLOUDY and LIGHT Possibil...
17421007    mushroom cultivation -mashroom seeds are calle...
17569101    Today Weather is partially cloudy and No possi...
Name: KccAns, Length: 145000, dtype: object

## Removing strings with multiple whitespaces

In [58]:
import nltk

In [59]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [60]:
from nltk.tokenize import word_tokenize

In [61]:
def ans_clean(ans):
  ans = str(ans)
  token_list = word_tokenize(ans)
  return ' '.join(token_list)

In [62]:
df_up_150000.KccAns = df_up_150000.KccAns.apply(ans_clean)

In [63]:
df_up_150000.KccAns

17424983    This week weather is CLOUDY and Possibility of...
17335499               market rate papaya -500-1700 rsquintal
17290702                Cloudy Weather Rainfall Chances Today
17371262    FOR DETAIL INFORMATION ABOUT GOVERNMENT SCHEME...
17273796    Market Rate of ONION IN LASALGAO MARKET - 1100...
                                  ...
17460976    Todays weather Partly cloudy and Possibility o...
17531713    FOR DETAIL INFORMATION ABOUT GOVERNMENT SCHEME...
21266693    This week weather is CLOUDY and LIGHT Possibil...
17421007    mushroom cultivation -mashroom seeds are calle...
17569101    Today Weather is partially cloudy and No possi...
Name: KccAns, Length: 145000, dtype: object

In [64]:
df_up_150000['KccAns'].astype(bool)

17424983    True
17335499    True
17290702    True
17371262    True
17273796    True
            ...
17460976    True
17531713    True
21266693    True
17421007    True
17569101    True
Name: KccAns, Length: 145000, dtype: bool

In [65]:
df_up_150000 = df_up_150000[df_up_150000['KccAns'].astype(bool)]

In [66]:
df_up_150000

,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Sector,StateName,QueryText,KccAns
17424983,MANWAT,Others,2018,9,14,Others,PARBHANI,Weather,AGRICULTURE,MAHARASHTRA,Asking about weather forecast,This week weather is CLOUDY and Possibility of...
17335499,BARSHI,Fruits,2018,6,16,Papaya,SOLAPUR,Market Information,HORTICULTURE,MAHARASHTRA,market rate papaya,market rate papaya -500-1700 rsquintal
17290702,NEVASA,Others,2018,8,1,Others,AHMADNAGAR,Weather,AGRICULTURE,MAHARASHTRA,Asking about weather forecast,Cloudy Weather Rainfall Chances Today
17371262,PAITHAN,Others,2018,8,1,Others,AURANGABAD,Field Preparation,AGRICULTURE,MAHARASHTRA,ASKING ABOUT GOVERNMENT SCHEME,FOR DETAIL INFORMATION ABOUT GOVERNMENT SCHEME...
17273796,SHRIRAMPUR,Vegetables,2018,1,19,Onion,AHMADNAGAR,Market Information,HORTICULTURE,MAHARASHTRA,Asking About Market Rate OF ONION,Market Rate of ONION IN LASALGAO MARKET - 1100...
...,...,...,...,...,...,...,...,...,...,...,...,...
17460976,KINWAT,Others,2018,6,8,Others,NANDED,Weather,AGRICULTURE,MAHARASHTRA,Asking about weather forecast,Todays weather Partly cloudy and Possibility o...
17531713,DEULGAON RAJA,Others,2018,10,22,Others,BULDANA,Government Schemes,AGRICULTURE,MAHARASHTRA,ASKING ABOUT GOVERNMENT SCHEME,FOR DETAIL INFORMATION ABOUT GOVERNMENT SCHEME...
21266693,NANDURA,Others,2019,1,26,Others,BULDANA,Weather,AGRICULTURE,MAHARASHTRA,Asking about weather forecast,This week weather is CLOUDY and LIGHT Possibil...
17421007,PURNA,Vegetables,2018,8,10,Mushroom,PARBHANI,Bio-Pesticides and Bio-Fertilizers,HORTICULTURE,MAHARASHTRA,mushroom cultivation,mushroom cultivation -mashroom seeds are calle...
17569101,PUSAD,Others,2018,3,10,Others,YEVATMAL,Weather,AGRICULTURE,MAHARASHTRA,ASKING ABOUT WEATHER FORECAST,Today Weather is partially cloudy and No possi...

## Removing rows containing
### 1) '-', '--', ':' etc in ans
### 2) 'weather' in query

In [67]:
def remove_special_char(string):
  special_characters=['-',':']
  normal_string = "".join(filter(lambda char: char not in special_characters , string))
  return normal_string


def not_contains_only_special_char(sent):
  new_sent = remove_special_char(sent)
  return bool(new_sent)

In [68]:
not_contains_only_special_char(remove_special_char('----'))

False

In [69]:
df_up_150000_rem_spec_char = df_up_150000[df_up_150000['KccAns'].apply(not_contains_only_special_char)]

In [70]:
def not_contains_weather(sent):
  sent = sent.lower()
  if 'weather' in word_tokenize(sent):
    return False
  return True

In [71]:
df_up_150000_rem_weather = df_up_150000_rem_spec_char[df_up_150000_rem_spec_char['QueryText'].apply(not_contains_weather)]

In [72]:
df_up_150000_rem_weather

,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Sector,StateName,QueryText,KccAns
17335499,BARSHI,Fruits,2018,6,16,Papaya,SOLAPUR,Market Information,HORTICULTURE,MAHARASHTRA,market rate papaya,market rate papaya -500-1700 rsquintal
17371262,PAITHAN,Others,2018,8,1,Others,AURANGABAD,Field Preparation,AGRICULTURE,MAHARASHTRA,ASKING ABOUT GOVERNMENT SCHEME,FOR DETAIL INFORMATION ABOUT GOVERNMENT SCHEME...
17273796,SHRIRAMPUR,Vegetables,2018,1,19,Onion,AHMADNAGAR,Market Information,HORTICULTURE,MAHARASHTRA,Asking About Market Rate OF ONION,Market Rate of ONION IN LASALGAO MARKET - 1100...
17404184,BHOKARDAN,Others,2018,12,31,Others,JALNA,Market Information,AGRICULTURE,MAHARASHTRA,FARMER ASKED ABOUT MARKET RATE OF maize,29122018Mandi : JalanaCommodity : MaizeModal P...
17619709,HINGOLI,Pulses,2018,7,17,Bengal Gram GramChick PeaKabuliChana,HINGOLI,Fertilizer Use and Availability,AGRICULTURE,MAHARASHTRA,ASKING ABOUT SPRAY FOR CONTROLLING FLOWER DROP...,Spray Plano fix 5ml15 Lit of WaterNAA BAYER
...,...,...,...,...,...,...,...,...,...,...,...,...
17336457,PANDHARPUR,Others,2018,6,25,Others,SOLAPUR,Government Schemes,AGRICULTURE,MAHARASHTRA,Asked About SMS Activation,TO START SMS SERVICE PLEASE TYPE SMS Kisaan1 A...
17263384,MUKTAINAGAR,Fiber Crops,2018,7,13,Cotton Kapas,JALGAON,Fertilizer Use and Availability,AGRICULTURE,MAHARASHTRA,ASKING ABOUT FERTILIZER DOSE FOR COTTON,Apply 10:26:26 1 bag urea 1 bag zink sulphate ...
17506579,JALGAONJAMOD,Cereals,2018,3,25,Paddy Dhan,BULDANA,Plant Protection,AGRICULTURE,MAHARASHTRA,stem borer control on paddy crop,you can spray propinophos 40 mili pamp water u...
17531713,DEULGAON RAJA,Others,2018,10,22,Others,BULDANA,Government Schemes,AGRICULTURE,MAHARASHTRA,ASKING ABOUT GOVERNMENT SCHEME,FOR DETAIL INFORMATION ABOUT GOVERNMENT SCHEME...
17421007,PURNA,Vegetables,2018,8,10,Mushroom,PARBHANI,Bio-Pesticides and Bio-Fertilizers,HORTICULTURE,MAHARASHTRA,mushroom cultivation,mushroom cultivation -mashroom seeds are calle...

## Removing duplicates

In [73]:
df_up_150000_rem_weather = df_up_150000_rem_weather.drop_duplicates()

In [74]:
df_up_150000_rem_weather

,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Sector,StateName,QueryText,KccAns
17335499,BARSHI,Fruits,2018,6,16,Papaya,SOLAPUR,Market Information,HORTICULTURE,MAHARASHTRA,market rate papaya,market rate papaya -500-1700 rsquintal
17371262,PAITHAN,Others,2018,8,1,Others,AURANGABAD,Field Preparation,AGRICULTURE,MAHARASHTRA,ASKING ABOUT GOVERNMENT SCHEME,FOR DETAIL INFORMATION ABOUT GOVERNMENT SCHEME...
17273796,SHRIRAMPUR,Vegetables,2018,1,19,Onion,AHMADNAGAR,Market Information,HORTICULTURE,MAHARASHTRA,Asking About Market Rate OF ONION,Market Rate of ONION IN LASALGAO MARKET - 1100...
17404184,BHOKARDAN,Others,2018,12,31,Others,JALNA,Market Information,AGRICULTURE,MAHARASHTRA,FARMER ASKED ABOUT MARKET RATE OF maize,29122018Mandi : JalanaCommodity : MaizeModal P...
17619709,HINGOLI,Pulses,2018,7,17,Bengal Gram GramChick PeaKabuliChana,HINGOLI,Fertilizer Use and Availability,AGRICULTURE,MAHARASHTRA,ASKING ABOUT SPRAY FOR CONTROLLING FLOWER DROP...,Spray Plano fix 5ml15 Lit of WaterNAA BAYER
...,...,...,...,...,...,...,...,...,...,...,...,...
17336457,PANDHARPUR,Others,2018,6,25,Others,SOLAPUR,Government Schemes,AGRICULTURE,MAHARASHTRA,Asked About SMS Activation,TO START SMS SERVICE PLEASE TYPE SMS Kisaan1 A...
17263384,MUKTAINAGAR,Fiber Crops,2018,7,13,Cotton Kapas,JALGAON,Fertilizer Use and Availability,AGRICULTURE,MAHARASHTRA,ASKING ABOUT FERTILIZER DOSE FOR COTTON,Apply 10:26:26 1 bag urea 1 bag zink sulphate ...
17506579,JALGAONJAMOD,Cereals,2018,3,25,Paddy Dhan,BULDANA,Plant Protection,AGRICULTURE,MAHARASHTRA,stem borer control on paddy crop,you can spray propinophos 40 mili pamp water u...
17531713,DEULGAON RAJA,Others,2018,10,22,Others,BULDANA,Government Schemes,AGRICULTURE,MAHARASHTRA,ASKING ABOUT GOVERNMENT SCHEME,FOR DETAIL INFORMATION ABOUT GOVERNMENT SCHEME...
17421007,PURNA,Vegetables,2018,8,10,Mushroom,PARBHANI,Bio-Pesticides and Bio-Fertilizers,HORTICULTURE,MAHARASHTRA,mushroom cultivation,mushroom cultivation -mashroom seeds are calle...

In [75]:
df_up_150000_rem_weather.KccAns.apply(lambda x: bool(x)).value_counts()

True    70670
Name: KccAns, dtype: int64

In [76]:
def remove_words(sent):
  sent = sent.lower()
  words = ['recommended for ', 'recommended ']
  for word in words:
    if word in sent:
      return sent.replace(word, '')
  return sent

def remove_words2(sent):
  sent = sent.lower()
  words = ['farmer want to know information about ', 'farmer wants to know information sbout ', 'farmer needs information regarding', 'farmer needs information ', 'farmer need information ','farmer need information regarding', 'farmer want to know information ', 'farmer wants to know information ', 'asked about', 'asking about']
  for word in words:
    if word in sent:
      return sent.replace(word, '')
  return sent

print(remove_words('Recommended for spray profenophose 2 ml Teepol...'))

spray profenophose 2 ml teepol...

In [77]:
df_up_150000_rem_weather.KccAns = df_up_150000_rem_weather.KccAns.apply(remove_words)
df_up_150000_rem_weather.QueryText = df_up_150000_rem_weather.QueryText.apply(remove_words2)

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [78]:
df_up_150000_rem_weather.KccAns.apply(lambda x: bool(x)).value_counts()

True    70670
Name: KccAns, dtype: int64

In [79]:
def not_string(sent):
  if sent.isnumeric():
    return False
  return True

In [80]:
df_up_150000_rem_weather.QueryText.apply(not_string).value_counts()

True    70670
Name: QueryText, dtype: int64

In [81]:
df_up_150000_rem_weather = df_up_150000_rem_weather.sample(n=60000)

In [82]:
df_up_150000_rem_weather

,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Sector,StateName,QueryText,KccAns
17230690,IGATPURI,Condiments and Spices,2018,3,7,Coriander,NASIK,Vegetative Propagation and Tissue Culture,HORTICULTURE,MAHARASHTRA,varieties of coriander,varieties of coriander -sugandha sudha no-65 v...
17350531,BARSHI,Vegetables,2018,12,6,Bitter Gourd,SOLAPUR,Vegetative Propagation and Tissue Culture,HORTICULTURE,MAHARASHTRA,farmer aksed about varieties of bitter gourd,varieties of bitter gourd : - phule green gold...
17477041,HIMAYATNAGAR,Oilseeds,2018,8,31,Soybean bhat,NANDED,Plant Protection,AGRICULTURE,MAHARASHTRA,powdery or downy or blight on soybean,spray cabriotop 45 gm15 liter of water-metiram...
17416524,JINTUR,Pulses,2018,7,14,Green Gram Moong Bean Moong,PARBHANI,Weed Management,AGRICULTURE,MAHARASHTRA,post emergence herbicide for green gram,post emergence herbicide for green gram - spra...
17228456,NANDGAON,Vegetables,2018,2,2,Ridge Gourd,NASIK,Weather,HORTICULTURE,MAHARASHTRA,varieties of ridge gourd,varieties of ridge gourd -jk malvika rama dhan...
...,...,...,...,...,...,...,...,...,...,...,...,...
17259087,CHALISGAON,Fiber Crops,2018,5,13,Cotton Kapas,JALGAON,Market Information,AGRICULTURE,MAHARASHTRA,market rate of cotton,market rate of cotton-4000-5200 rupeesqtl
17477506,DEGLUR,Oilseeds,2018,9,4,Soybean bhat,NANDED,Credit,AGRICULTURE,MAHARASHTRA,crop insurance,crop insurance - please visit to agricultural ...
17426230,GANGAKHED,Others,2018,9,28,Others,PARBHANI,Government Schemes,AGRICULTURE,MAHARASHTRA,sms activation,to start sms service please type sms kisaan1 a...
17505787,BULDANA,Sugar and Starch Crops,2018,3,11,Sugarcane Noble Cane,BULDANA,Fertilizer Use and Availability,AGRICULTURE,MAHARASHTRA,sugarcane fertilizers dose,sugarcane fertilizers dose -- -humik acid500ml...
17627802,SHAHADA,Others,2018,1,4,Others,NANDURBAR,Government Schemes,AGRICULTURE,MAHARASHTRA,government scheme,for detail information about government scheme...

In [83]:
import re
def rem_farmer(query):
  if len(re.split('^farmer ', query))==2:
    return re.split('^farmer ', query)[1]
  return re.split('^farmer ', query)[0]

rem_farmer('wants to know about farmer')

'wants to know about farmer'

In [84]:
re.split('^farmer ', 'wants to know about farmer')

['wants to know about farmer']

In [85]:
df_up_150000_rem_weather.QueryText = df_up_150000_rem_weather.QueryText.apply(rem_farmer)

In [86]:
df_up_150000_rem_weather

,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Sector,StateName,QueryText,KccAns
17230690,IGATPURI,Condiments and Spices,2018,3,7,Coriander,NASIK,Vegetative Propagation and Tissue Culture,HORTICULTURE,MAHARASHTRA,varieties of coriander,varieties of coriander -sugandha sudha no-65 v...
17350531,BARSHI,Vegetables,2018,12,6,Bitter Gourd,SOLAPUR,Vegetative Propagation and Tissue Culture,HORTICULTURE,MAHARASHTRA,aksed about varieties of bitter gourd,varieties of bitter gourd : - phule green gold...
17477041,HIMAYATNAGAR,Oilseeds,2018,8,31,Soybean bhat,NANDED,Plant Protection,AGRICULTURE,MAHARASHTRA,powdery or downy or blight on soybean,spray cabriotop 45 gm15 liter of water-metiram...
17416524,JINTUR,Pulses,2018,7,14,Green Gram Moong Bean Moong,PARBHANI,Weed Management,AGRICULTURE,MAHARASHTRA,post emergence herbicide for green gram,post emergence herbicide for green gram - spra...
17228456,NANDGAON,Vegetables,2018,2,2,Ridge Gourd,NASIK,Weather,HORTICULTURE,MAHARASHTRA,varieties of ridge gourd,varieties of ridge gourd -jk malvika rama dhan...
...,...,...,...,...,...,...,...,...,...,...,...,...
17259087,CHALISGAON,Fiber Crops,2018,5,13,Cotton Kapas,JALGAON,Market Information,AGRICULTURE,MAHARASHTRA,market rate of cotton,market rate of cotton-4000-5200 rupeesqtl
17477506,DEGLUR,Oilseeds,2018,9,4,Soybean bhat,NANDED,Credit,AGRICULTURE,MAHARASHTRA,crop insurance,crop insurance - please visit to agricultural ...
17426230,GANGAKHED,Others,2018,9,28,Others,PARBHANI,Government Schemes,AGRICULTURE,MAHARASHTRA,sms activation,to start sms service please type sms kisaan1 a...
17505787,BULDANA,Sugar and Starch Crops,2018,3,11,Sugarcane Noble Cane,BULDANA,Fertilizer Use and Availability,AGRICULTURE,MAHARASHTRA,sugarcane fertilizers dose,sugarcane fertilizers dose -- -humik acid500ml...
17627802,SHAHADA,Others,2018,1,4,Others,NANDURBAR,Government Schemes,AGRICULTURE,MAHARASHTRA,government scheme,for detail information about government scheme...

In [87]:
df_up_150000_rem_weather.QueryText.apply(not_string).value_counts()

True    60000
Name: QueryText, dtype: int64

In [88]:
# df_new = pd.read_csv('/drive/My Drive/KCC Project Files/4 States Data/MP_60000.csv')

In [89]:
# df_new

In [90]:
# def remove_special_char(string):
#   special_characters=[',', '?', '.']
#   normal_string = "".join(filter(lambda char: char not in special_characters , string))
#   return normal_string

# def ques_cleaner(query):
#   query=str(query)
#   for char in query:
#     if char.isnumeric():
#       print(query)
#       return False
#   query = query.lower()
#   query = query.replace('-', ' ')
#   query = query.replace(':', ' ')
#   query = remove_special_char(query)
#   ques_tokens = word_tokenize(query)
#   query = ' '.join(ques_tokens)
#   if (not bool(query)):
#     return False
#   return True

In [91]:
# df_new = df_new[df_new.QueryText.apply(ques_cleaner)]

In [92]:
# df_new

## Dropping rows containing empty query

In [95]:
df_up_150000_rem_weather.isnull().sum()

BlockName          0
Category          90
Year               0
Month              0
Day                0
Crop             145
DistrictName       0
QueryType       1584
Sector            56
StateName          0
QueryText          0
KccAns             0
dtype: int64

In [100]:
df_up_150000_rem_weather = df_up_150000_rem_weather.dropna(subset=['QueryText', 'Crop'])

In [101]:
df_up_150000_rem_weather

,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Sector,StateName,QueryText,KccAns
17230690,IGATPURI,Condiments and Spices,2018,3,7,Coriander,NASIK,Vegetative Propagation and Tissue Culture,HORTICULTURE,MAHARASHTRA,varieties of coriander,varieties of coriander -sugandha sudha no-65 v...
17350531,BARSHI,Vegetables,2018,12,6,Bitter Gourd,SOLAPUR,Vegetative Propagation and Tissue Culture,HORTICULTURE,MAHARASHTRA,aksed about varieties of bitter gourd,varieties of bitter gourd : - phule green gold...
17477041,HIMAYATNAGAR,Oilseeds,2018,8,31,Soybean bhat,NANDED,Plant Protection,AGRICULTURE,MAHARASHTRA,powdery or downy or blight on soybean,spray cabriotop 45 gm15 liter of water-metiram...
17416524,JINTUR,Pulses,2018,7,14,Green Gram Moong Bean Moong,PARBHANI,Weed Management,AGRICULTURE,MAHARASHTRA,post emergence herbicide for green gram,post emergence herbicide for green gram - spra...
17228456,NANDGAON,Vegetables,2018,2,2,Ridge Gourd,NASIK,Weather,HORTICULTURE,MAHARASHTRA,varieties of ridge gourd,varieties of ridge gourd -jk malvika rama dhan...
...,...,...,...,...,...,...,...,...,...,...,...,...
17259087,CHALISGAON,Fiber Crops,2018,5,13,Cotton Kapas,JALGAON,Market Information,AGRICULTURE,MAHARASHTRA,market rate of cotton,market rate of cotton-4000-5200 rupeesqtl
17477506,DEGLUR,Oilseeds,2018,9,4,Soybean bhat,NANDED,Credit,AGRICULTURE,MAHARASHTRA,crop insurance,crop insurance - please visit to agricultural ...
17426230,GANGAKHED,Others,2018,9,28,Others,PARBHANI,Government Schemes,AGRICULTURE,MAHARASHTRA,sms activation,to start sms service please type sms kisaan1 a...
17505787,BULDANA,Sugar and Starch Crops,2018,3,11,Sugarcane Noble Cane,BULDANA,Fertilizer Use and Availability,AGRICULTURE,MAHARASHTRA,sugarcane fertilizers dose,sugarcane fertilizers dose -- -humik acid500ml...
17627802,SHAHADA,Others,2018,1,4,Others,NANDURBAR,Government Schemes,AGRICULTURE,MAHARASHTRA,government scheme,for detail information about government scheme...

In [127]:
def not_empty(str):
  return bool(str.strip())

In [130]:
df_up_150000_rem_weather = df_up_150000_rem_weather[df_up_150000_rem_weather.QueryText.apply(not_empty)]

In [131]:
df_up_150000_rem_weather

,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Sector,StateName,QueryText,KccAns
17230690,IGATPURI,Condiments and Spices,2018,3,7,Coriander,NASIK,Vegetative Propagation and Tissue Culture,HORTICULTURE,MAHARASHTRA,varieties of coriander,varieties of coriander -sugandha sudha no-65 v...
17350531,BARSHI,Vegetables,2018,12,6,Bitter Gourd,SOLAPUR,Vegetative Propagation and Tissue Culture,HORTICULTURE,MAHARASHTRA,aksed about varieties of bitter gourd,varieties of bitter gourd : - phule green gold...
17477041,HIMAYATNAGAR,Oilseeds,2018,8,31,Soybean bhat,NANDED,Plant Protection,AGRICULTURE,MAHARASHTRA,powdery or downy or blight on soybean,spray cabriotop 45 gm15 liter of water-metiram...
17416524,JINTUR,Pulses,2018,7,14,Green Gram Moong Bean Moong,PARBHANI,Weed Management,AGRICULTURE,MAHARASHTRA,post emergence herbicide for green gram,post emergence herbicide for green gram - spra...
17228456,NANDGAON,Vegetables,2018,2,2,Ridge Gourd,NASIK,Weather,HORTICULTURE,MAHARASHTRA,varieties of ridge gourd,varieties of ridge gourd -jk malvika rama dhan...
...,...,...,...,...,...,...,...,...,...,...,...,...
17259087,CHALISGAON,Fiber Crops,2018,5,13,Cotton Kapas,JALGAON,Market Information,AGRICULTURE,MAHARASHTRA,market rate of cotton,market rate of cotton-4000-5200 rupeesqtl
17477506,DEGLUR,Oilseeds,2018,9,4,Soybean bhat,NANDED,Credit,AGRICULTURE,MAHARASHTRA,crop insurance,crop insurance - please visit to agricultural ...
17426230,GANGAKHED,Others,2018,9,28,Others,PARBHANI,Government Schemes,AGRICULTURE,MAHARASHTRA,sms activation,to start sms service please type sms kisaan1 a...
17505787,BULDANA,Sugar and Starch Crops,2018,3,11,Sugarcane Noble Cane,BULDANA,Fertilizer Use and Availability,AGRICULTURE,MAHARASHTRA,sugarcane fertilizers dose,sugarcane fertilizers dose -- -humik acid500ml...
17627802,SHAHADA,Others,2018,1,4,Others,NANDURBAR,Government Schemes,AGRICULTURE,MAHARASHTRA,government scheme,for detail information about government scheme...

## Downloading

In [132]:
from google.colab import files
df_up_150000_rem_weather.to_csv('mh_df_60000.csv')
files.download("mh_df_60000.csv")