In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [3]:
df_ques_cluster = pd.read_csv('/drive/My Drive/Research Project IIT-I/AP Question clusters.csv')

In [4]:
df_ques_cluster

,index,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Sector,StateName,QueryText,KccAns,Cluster
0,23781986,SARAVAKOTA,Others,2020,6,10,Others,SRIKAKULAM,Government Schemes,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,-- RECOMMENDED TO CONTACT 8886612698,1
1,23824164,NELLORE,Others,2020,3,17,Others,NELLORE,Seeds,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,-- 8886613101,1
2,23824118,KODAVALUR,Green Manure,2020,3,16,KolanchiTephrosia Purpurea,NELLORE,Varieties,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,8886613686,1
3,23824098,MARRIPADU,Others,2020,3,15,Others,NELLORE,Government Schemes,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,8886613671,1
4,23821955,MANUBOLU,Others,2020,1,25,Others,NELLORE,Government Schemes,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,MAO NUMBER8886613708,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26714,23825672,CHILLAKUR,Oilseeds,2020,10,23,Groundnut pea nutmung phalli,NELLORE,Seeds,AGRICULTURE,ANDHRA PRADESH,GROUNDS NUT VARIETY,-- RECOMMENDED TO CONTACT 9989628385,568
26715,23825977,VENKATAGIRI,Oilseeds,2020,11,12,Groundnut pea nutmung phalli,NELLORE,Seeds,AGRICULTURE,ANDHRA PRADESH,kadiri ground nut varieties,Agricultural Research Station Kadiri - 515 591...,568
26716,23823419,RAPUR,Fruits,2020,2,25,Citrus,NELLORE,Agriculture Mechanization,HORTICULTURE,ANDHRA PRADESH,CITRUS Scab MANAGEMENT,recommended to spray amistar top azoxystrobind...,569
26717,23824455,BALAYAPALLE,Fruits,2020,7,6,Citrus,NELLORE,Plant Protection,HORTICULTURE,ANDHRA PRADESH,CITRUS SCAB MANAGEMENT,RECOMMENDED TO SPRAY CARBENDAZIM BAVISTIN 2GM ...,569
26718,23823420,RAPUR,Fruits,2020,2,25,Citrus,NELLORE,Nutrient Management,HORTICULTURE,ANDHRA PRADESH,CITRUS Scab MANAGEMENT,recommended to spray amistar top azoxystrobind...,569

In [5]:
import nltk
nltk.download('punkt')
from gensim.parsing.preprocessing import remove_stopwords
from nltk import word_tokenize
from nltk.stem import PorterStemmer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [6]:
ps = PorterStemmer()

In [7]:
def remove_special_char(string):
  special_characters=[',', '?', '.']
  normal_string = "".join(filter(lambda char: char not in special_characters , string))
  return normal_string

def clean_query(query):
  query = query.lower()
  query = query.replace('-', ' ')
  query = remove_special_char(query)
  query = remove_stopwords(query)

  processed_tokens = []
  for word in word_tokenize(query):
    if not word.isnumeric():
      processed_tokens.append(ps.stem(word))
  return ' '.join(processed_tokens)

In [8]:
processed_queries = df_ques_cluster.QueryText.apply(clean_query)

In [9]:
processed_queries

0                       mao number
1                       mao number
2                       mao number
3                       mao number
4                       mao number
                   ...
26714           ground nut varieti
26715    kadiri ground nut varieti
26716             citru scab manag
26717             citru scab manag
26718             citru scab manag
Name: QueryText, Length: 26719, dtype: object

In [60]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
cv = CountVectorizer()

In [61]:
vectors = cv.fit_transform(processed_queries).toarray()

In [62]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [63]:
vectors.shape

(26719, 1103)

In [64]:
labels = pd.get_dummies(df_ques_cluster.Cluster)

In [65]:
labels

,1,2,3,4,5,6,7,8,9,10,...,560,561,562,563,564,565,566,567,568,569
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26714,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26715,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26716,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26717,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26718,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [66]:
from sklearn.model_selection import train_test_split

In [67]:
X_train, X_test, y_train, y_test = train_test_split(vectors, labels, test_size = 0.2, random_state = 42)

In [68]:
X_train.shape

(21375, 1103)

In [69]:
X_train = X_train.reshape(21375, 1, 1103)
X_test = X_test.reshape(5344, 1, 1103)

In [70]:
X_train

array([[[0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0]],

       ...,

       [[0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0]]])

In [71]:
import tensorflow as tf

In [72]:
embed_input = tf.keras.layers.Input(shape = (1,1103), dtype = tf.float32, name = 'Inputs')
out = tf.keras.layers.Dropout(0.1, name = 'Dropout1')(embed_input)
out = tf.keras.layers.GRU(1000, name = 'Dense1')(out)
out = tf.keras.layers.Dropout(0.1, name = 'Dropout2')(out)
out_final = tf.keras.layers.Dense(569, activation = 'softmax', name = 'Dense2')(out)

In [73]:
model = tf.keras.Model(inputs = [embed_input], outputs = [out_final])

In [74]:
model.summary()

Model: "model_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 Inputs (InputLayer)         [(None, 1, 1103)]         0

 Dropout1 (Dropout)          (None, 1, 1103)           0

 Dense1 (GRU)                (None, 1000)              6315000

 Dropout2 (Dropout)          (None, 1000)              0

 Dense2 (Dense)              (None, 569)               569569

=================================================================
Total params: 6,884,569
Trainable params: 6,884,569
Non-trainable params: 0
_________________________________________________________________

In [75]:
import keras.backend as K

In [76]:
def get_f1(y_true, y_pred): #taken from old keras source code
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    recall = true_positives / (possible_positives + K.epsilon())
    f1_val = 2*(precision*recall)/(precision+recall+K.epsilon())
    return f1_val

In [77]:
Metrics = [tf.keras.metrics.CategoricalAccuracy(name = 'accuracy'),
           tf.keras.metrics.Precision(name = 'precision'),
           tf.keras.metrics.Recall(name = 'recall'),
           get_f1
           ]

model.compile(optimizer ='adam',
               loss = 'categorical_crossentropy',
               metrics = Metrics)

In [78]:
history = model.fit(X_train, y_train, validation_data = (X_test, y_test), epochs = 30)

Epoch 1/30
668/668 [==============================] - 8s 9ms/step - loss: 1.6166 - accuracy: 0.7357 - precision: 0.9310 - recall: 0.6072 - get_f1: 0.7020 - val_loss: 0.5007 - val_accuracy: 0.9094 - val_precision: 0.9647 - val_recall: 0.8632 - val_get_f1: 0.9103
Epoch 2/30
668/668 [==============================] - 6s 8ms/step - loss: 0.5088 - accuracy: 0.8860 - precision: 0.9407 - recall: 0.8385 - get_f1: 0.8858 - val_loss: 0.2823 - val_accuracy: 0.9409 - val_precision: 0.9673 - val_recall: 0.9190 - val_get_f1: 0.9422
Epoch 3/30
668/668 [==============================] - 6s 8ms/step - loss: 0.3595 - accuracy: 0.9075 - precision: 0.9437 - recall: 0.8790 - get_f1: 0.9097 - val_loss: 0.2200 - val_accuracy: 0.9536 - val_precision: 0.9681 - val_recall: 0.9381 - val_get_f1: 0.9527
Epoch 4/30
668/668 [==============================] - 6s 9ms/step - loss: 0.3254 - accuracy: 0.9160 - precision: 0.9448 - recall: 0.8952 - get_f1: 0.9190 - val_loss: 0.2009 - val_accuracy: 0.9555 - val_precision: 0.9708 - val_recall: 0.9446 - val_get_f1: 0.9573
Epoch 5/30
668/668 [==============================] - 6s 9ms/step - loss: 0.3120 - accuracy: 0.9186 - precision: 0.9455 - recall: 0.8989 - get_f1: 0.9213 - val_loss: 0.1977 - val_accuracy: 0.9534 - val_precision: 0.9644 - val_recall: 0.9467 - val_get_f1: 0.9553
Epoch 6/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2951 - accuracy: 0.9212 - precision: 0.9470 - recall: 0.9050 - get_f1: 0.9251 - val_loss: 0.1988 - val_accuracy: 0.9553 - val_precision: 0.9668 - val_recall: 0.9484 - val_get_f1: 0.9573
Epoch 7/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2927 - accuracy: 0.9236 - precision: 0.9458 - recall: 0.9069 - get_f1: 0.9256 - val_loss: 0.2054 - val_accuracy: 0.9545 - val_precision: 0.9631 - val_recall: 0.9482 - val_get_f1: 0.9555
Epoch 8/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2937 - accuracy: 0.9209 - precision: 0.9471 - recall: 0.9058 - get_f1: 0.9256 - val_loss: 0.2109 - val_accuracy: 0.9500 - val_precision: 0.9621 - val_recall: 0.9459 - val_get_f1: 0.9539
Epoch 9/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2938 - accuracy: 0.9227 - precision: 0.9460 - recall: 0.9084 - get_f1: 0.9265 - val_loss: 0.2025 - val_accuracy: 0.9571 - val_precision: 0.9682 - val_recall: 0.9519 - val_get_f1: 0.9599
Epoch 10/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2832 - accuracy: 0.9262 - precision: 0.9509 - recall: 0.9114 - get_f1: 0.9305 - val_loss: 0.2139 - val_accuracy: 0.9585 - val_precision: 0.9655 - val_recall: 0.9542 - val_get_f1: 0.9597
Epoch 11/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2787 - accuracy: 0.9265 - precision: 0.9512 - recall: 0.9124 - get_f1: 0.9311 - val_loss: 0.2190 - val_accuracy: 0.9538 - val_precision: 0.9604 - val_recall: 0.9497 - val_get_f1: 0.9549
Epoch 12/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2928 - accuracy: 0.9212 - precision: 0.9452 - recall: 0.9048 - get_f1: 0.9243 - val_loss: 0.2123 - val_accuracy: 0.9560 - val_precision: 0.9630 - val_recall: 0.9504 - val_get_f1: 0.9565
Epoch 13/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2812 - accuracy: 0.9246 - precision: 0.9480 - recall: 0.9110 - get_f1: 0.9288 - val_loss: 0.1987 - val_accuracy: 0.9613 - val_precision: 0.9671 - val_recall: 0.9583 - val_get_f1: 0.9626
Epoch 14/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2787 - accuracy: 0.9260 - precision: 0.9475 - recall: 0.9122 - get_f1: 0.9292 - val_loss: 0.2014 - val_accuracy: 0.9620 - val_precision: 0.9692 - val_recall: 0.9588 - val_get_f1: 0.9639
Epoch 15/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2755 - accuracy: 0.9255 - precision: 0.9511 - recall: 0.9129 - get_f1: 0.9313 - val_loss: 0.2147 - val_accuracy: 0.9586 - val_precision: 0.9651 - val_recall: 0.9560 - val_get_f1: 0.9604
Epoch 16/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2762 - accuracy: 0.9274 - precision: 0.9499 - recall: 0.9133 - get_f1: 0.9309 - val_loss: 0.2123 - val_accuracy: 0.9598 - val_precision: 0.9656 - val_recall: 0.9557 - val_get_f1: 0.9605
Epoch 17/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2744 - accuracy: 0.9282 - precision: 0.9514 - recall: 0.9156 - get_f1: 0.9329 - val_loss: 0.2055 - val_accuracy: 0.9583 - val_precision: 0.9658 - val_recall: 0.9555 - val_get_f1: 0.9605
Epoch 18/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2706 - accuracy: 0.9280 - precision: 0.9514 - recall: 0.9148 - get_f1: 0.9325 - val_loss: 0.2147 - val_accuracy: 0.9545 - val_precision: 0.9631 - val_recall: 0.9519 - val_get_f1: 0.9574
Epoch 19/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2560 - accuracy: 0.9314 - precision: 0.9529 - recall: 0.9191 - get_f1: 0.9354 - val_loss: 0.2253 - val_accuracy: 0.9540 - val_precision: 0.9603 - val_recall: 0.9510 - val_get_f1: 0.9555
Epoch 20/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2762 - accuracy: 0.9273 - precision: 0.9499 - recall: 0.9121 - get_f1: 0.9303 - val_loss: 0.2256 - val_accuracy: 0.9560 - val_precision: 0.9634 - val_recall: 0.9506 - val_get_f1: 0.9568
Epoch 21/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2627 - accuracy: 0.9286 - precision: 0.9499 - recall: 0.9150 - get_f1: 0.9318 - val_loss: 0.2239 - val_accuracy: 0.9568 - val_precision: 0.9631 - val_recall: 0.9534 - val_get_f1: 0.9581
Epoch 22/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2862 - accuracy: 0.9234 - precision: 0.9459 - recall: 0.9089 - get_f1: 0.9267 - val_loss: 0.2156 - val_accuracy: 0.9564 - val_precision: 0.9640 - val_recall: 0.9525 - val_get_f1: 0.9581
Epoch 23/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2774 - accuracy: 0.9247 - precision: 0.9485 - recall: 0.9119 - get_f1: 0.9295 - val_loss: 0.2216 - val_accuracy: 0.9577 - val_precision: 0.9634 - val_recall: 0.9543 - val_get_f1: 0.9587
Epoch 24/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2581 - accuracy: 0.9298 - precision: 0.9484 - recall: 0.9164 - get_f1: 0.9318 - val_loss: 0.2198 - val_accuracy: 0.9545 - val_precision: 0.9626 - val_recall: 0.9499 - val_get_f1: 0.9561
Epoch 25/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2792 - accuracy: 0.9262 - precision: 0.9491 - recall: 0.9113 - get_f1: 0.9295 - val_loss: 0.2236 - val_accuracy: 0.9549 - val_precision: 0.9620 - val_recall: 0.9515 - val_get_f1: 0.9566
Epoch 26/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2508 - accuracy: 0.9319 - precision: 0.9519 - recall: 0.9208 - get_f1: 0.9359 - val_loss: 0.2251 - val_accuracy: 0.9573 - val_precision: 0.9641 - val_recall: 0.9553 - val_get_f1: 0.9596
Epoch 27/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2512 - accuracy: 0.9328 - precision: 0.9549 - recall: 0.9206 - get_f1: 0.9371 - val_loss: 0.2249 - val_accuracy: 0.9566 - val_precision: 0.9641 - val_recall: 0.9538 - val_get_f1: 0.9588
Epoch 28/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2558 - accuracy: 0.9305 - precision: 0.9530 - recall: 0.9185 - get_f1: 0.9351 - val_loss: 0.2230 - val_accuracy: 0.9549 - val_precision: 0.9600 - val_recall: 0.9519 - val_get_f1: 0.9559
Epoch 29/30
668/668 [==============================] - 6s 8ms/step - loss: 0.2696 - accuracy: 0.9271 - precision: 0.9499 - recall: 0.9135 - get_f1: 0.9310 - val_loss: 0.2250 - val_accuracy: 0.9564 - val_precision: 0.9609 - val_recall: 0.9513 - val_get_f1: 0.9560
Epoch 30/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2559 - accuracy: 0.9320 - precision: 0.9538 - recall: 0.9187 - get_f1: 0.9357 - val_loss: 0.2158 - val_accuracy: 0.9592 - val_precision: 0.9649 - val_recall: 0.9571 - val_get_f1: 0.9609

In [79]:
y_pred = model.predict(X_test)
y_pred = [(np.argmax(x)+1) for x in np.array(y_pred)]
y_pred = np.array(y_pred)

167/167 [==============================] - 1s 2ms/step

In [80]:
y_pred

array([ 78,   5,  66, ..., 107,  64, 287])

In [81]:
actual = [(np.argmax(x)+1) for x in np.array(y_test)]
actual = np.array(actual)

In [82]:
actual

array([ 78,   5,  66, ..., 107,  64, 287])

In [83]:
from sklearn.metrics import precision_recall_fscore_support, accuracy_score

print('weighted', precision_recall_fscore_support(actual, y_pred, average='weighted'))
print('micro',precision_recall_fscore_support(actual, y_pred, average='micro'))
print('macro',precision_recall_fscore_support(actual, y_pred, average='macro'))
print('accuracy', accuracy_score(actual, y_pred))

weighted (0.9534060245515517, 0.9592065868263473, 0.9536330422944991, None)
micro (0.9592065868263473, 0.9592065868263473, 0.9592065868263473, None)
macro (0.804312341544745, 0.8024185118417085, 0.7924706661677107, None)
accuracy 0.9592065868263473

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [84]:
# val_accuracy: 0.9530 - val_precision: 0.9618 - val_recall: 0.9480 - val_get_f1: 0.9547