In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [3]:
df_ques_cluster = pd.read_csv('/drive/My Drive/Research Project IIT-I/AP Question clusters.csv')

In [4]:
df_ques_cluster

,index,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Sector,StateName,QueryText,KccAns,Cluster
0,23781986,SARAVAKOTA,Others,2020,6,10,Others,SRIKAKULAM,Government Schemes,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,-- RECOMMENDED TO CONTACT 8886612698,1
1,23824164,NELLORE,Others,2020,3,17,Others,NELLORE,Seeds,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,-- 8886613101,1
2,23824118,KODAVALUR,Green Manure,2020,3,16,KolanchiTephrosia Purpurea,NELLORE,Varieties,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,8886613686,1
3,23824098,MARRIPADU,Others,2020,3,15,Others,NELLORE,Government Schemes,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,8886613671,1
4,23821955,MANUBOLU,Others,2020,1,25,Others,NELLORE,Government Schemes,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,MAO NUMBER8886613708,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26714,23825672,CHILLAKUR,Oilseeds,2020,10,23,Groundnut pea nutmung phalli,NELLORE,Seeds,AGRICULTURE,ANDHRA PRADESH,GROUNDS NUT VARIETY,-- RECOMMENDED TO CONTACT 9989628385,568
26715,23825977,VENKATAGIRI,Oilseeds,2020,11,12,Groundnut pea nutmung phalli,NELLORE,Seeds,AGRICULTURE,ANDHRA PRADESH,kadiri ground nut varieties,Agricultural Research Station Kadiri - 515 591...,568
26716,23823419,RAPUR,Fruits,2020,2,25,Citrus,NELLORE,Agriculture Mechanization,HORTICULTURE,ANDHRA PRADESH,CITRUS Scab MANAGEMENT,recommended to spray amistar top azoxystrobind...,569
26717,23824455,BALAYAPALLE,Fruits,2020,7,6,Citrus,NELLORE,Plant Protection,HORTICULTURE,ANDHRA PRADESH,CITRUS SCAB MANAGEMENT,RECOMMENDED TO SPRAY CARBENDAZIM BAVISTIN 2GM ...,569
26718,23823420,RAPUR,Fruits,2020,2,25,Citrus,NELLORE,Nutrient Management,HORTICULTURE,ANDHRA PRADESH,CITRUS Scab MANAGEMENT,recommended to spray amistar top azoxystrobind...,569

In [5]:
import nltk
nltk.download('punkt')
from gensim.parsing.preprocessing import remove_stopwords
from nltk import word_tokenize
from nltk.stem import PorterStemmer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [6]:
ps = PorterStemmer()

In [7]:
def remove_special_char(string):
  special_characters=[',', '?', '.']
  normal_string = "".join(filter(lambda char: char not in special_characters , string))
  return normal_string

def clean_query(query):
  query = query.lower()
  query = query.replace('-', ' ')
  query = remove_special_char(query)
  query = remove_stopwords(query)

  processed_tokens = []
  for word in word_tokenize(query):
    if not word.isnumeric():
      processed_tokens.append(ps.stem(word))
  return ' '.join(processed_tokens)

In [8]:
processed_queries = df_ques_cluster.QueryText.apply(clean_query)

In [9]:
processed_queries

0                       mao number
1                       mao number
2                       mao number
3                       mao number
4                       mao number
                   ...
26714           ground nut varieti
26715    kadiri ground nut varieti
26716             citru scab manag
26717             citru scab manag
26718             citru scab manag
Name: QueryText, Length: 26719, dtype: object

In [37]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
CV = CountVectorizer()

In [38]:
vectors = CV.fit_transform(processed_queries).toarray()

In [39]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [40]:
vectors.shape

(26719, 1103)

In [41]:
labels = pd.get_dummies(df_ques_cluster.Cluster)

In [42]:
labels

,1,2,3,4,5,6,7,8,9,10,...,560,561,562,563,564,565,566,567,568,569
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26714,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26715,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26716,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26717,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26718,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(vectors, labels, test_size = 0.2, random_state = 42)

In [45]:
X_train.shape

(21375, 1103)

In [46]:
X_train = X_train.reshape(21375, 1, 1103)
X_test = X_test.reshape(5344, 1, 1103)

In [47]:
X_train

array([[[0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0]],

       ...,

       [[0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0]],

       [[0, 0, 0, ..., 0, 0, 0]]])

In [48]:
import tensorflow as tf

In [49]:
embed_input = tf.keras.layers.Input(shape = (1,1103), dtype = tf.float32, name = 'Inputs')
out = tf.keras.layers.Dropout(0.1, name = 'Dropout1')(embed_input)
out = tf.keras.layers.LSTM(1000, name = 'Dense1')(out)
out = tf.keras.layers.Dropout(0.1, name = 'Dropout2')(out)
out_final = tf.keras.layers.Dense(569, activation = 'softmax', name = 'Dense2')(out)

In [50]:
model = tf.keras.Model(inputs = [embed_input], outputs = [out_final])

In [51]:
model.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 Inputs (InputLayer)         [(None, 1, 1103)]         0

 Dropout1 (Dropout)          (None, 1, 1103)           0

 Dense1 (LSTM)               (None, 1000)              8416000

 Dropout2 (Dropout)          (None, 1000)              0

 Dense2 (Dense)              (None, 569)               569569

=================================================================
Total params: 8,985,569
Trainable params: 8,985,569
Non-trainable params: 0
_________________________________________________________________

In [52]:
import keras.backend as K

In [53]:
def get_f1(y_true, y_pred): #taken from old keras source code
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    recall = true_positives / (possible_positives + K.epsilon())
    f1_val = 2*(precision*recall)/(precision+recall+K.epsilon())
    return f1_val

In [54]:
Metrics = [tf.keras.metrics.CategoricalAccuracy(name = 'accuracy'),
           tf.keras.metrics.Precision(name = 'precision'),
           tf.keras.metrics.Recall(name = 'recall'),
           get_f1
           ]

model.compile(optimizer ='adam',
               loss = 'categorical_crossentropy',
               metrics = Metrics)

In [55]:
history = model.fit(X_train, y_train, validation_data = (X_test, y_test), epochs = 30)

Epoch 1/30
668/668 [==============================] - 9s 10ms/step - loss: 1.8906 - accuracy: 0.7052 - precision: 0.9258 - recall: 0.5600 - get_f1: 0.6572 - val_loss: 0.6009 - val_accuracy: 0.8937 - val_precision: 0.9641 - val_recall: 0.8482 - val_get_f1: 0.9015
Epoch 2/30
668/668 [==============================] - 6s 9ms/step - loss: 0.5901 - accuracy: 0.8734 - precision: 0.9420 - recall: 0.8204 - get_f1: 0.8757 - val_loss: 0.3299 - val_accuracy: 0.9343 - val_precision: 0.9675 - val_recall: 0.8958 - val_get_f1: 0.9297
Epoch 3/30
668/668 [==============================] - 7s 10ms/step - loss: 0.4004 - accuracy: 0.9023 - precision: 0.9446 - recall: 0.8669 - get_f1: 0.9034 - val_loss: 0.2466 - val_accuracy: 0.9459 - val_precision: 0.9641 - val_recall: 0.9308 - val_get_f1: 0.9469
Epoch 4/30
668/668 [==============================] - 6s 9ms/step - loss: 0.3275 - accuracy: 0.9165 - precision: 0.9446 - recall: 0.8924 - get_f1: 0.9174 - val_loss: 0.2048 - val_accuracy: 0.9568 - val_precision: 0.9697 - val_recall: 0.9478 - val_get_f1: 0.9585
Epoch 5/30
668/668 [==============================] - 6s 9ms/step - loss: 0.3028 - accuracy: 0.9207 - precision: 0.9477 - recall: 0.9008 - get_f1: 0.9233 - val_loss: 0.2022 - val_accuracy: 0.9562 - val_precision: 0.9671 - val_recall: 0.9474 - val_get_f1: 0.9570
Epoch 6/30
668/668 [==============================] - 6s 9ms/step - loss: 0.3036 - accuracy: 0.9181 - precision: 0.9472 - recall: 0.8986 - get_f1: 0.9219 - val_loss: 0.1946 - val_accuracy: 0.9586 - val_precision: 0.9671 - val_recall: 0.9519 - val_get_f1: 0.9593
Epoch 7/30
668/668 [==============================] - 7s 10ms/step - loss: 0.2845 - accuracy: 0.9240 - precision: 0.9472 - recall: 0.9064 - get_f1: 0.9261 - val_loss: 0.1966 - val_accuracy: 0.9571 - val_precision: 0.9645 - val_recall: 0.9502 - val_get_f1: 0.9572
Epoch 8/30
668/668 [==============================] - 7s 10ms/step - loss: 0.2918 - accuracy: 0.9245 - precision: 0.9519 - recall: 0.9075 - get_f1: 0.9288 - val_loss: 0.1922 - val_accuracy: 0.9583 - val_precision: 0.9645 - val_recall: 0.9513 - val_get_f1: 0.9578
Epoch 9/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2751 - accuracy: 0.9251 - precision: 0.9488 - recall: 0.9101 - get_f1: 0.9287 - val_loss: 0.1941 - val_accuracy: 0.9598 - val_precision: 0.9659 - val_recall: 0.9527 - val_get_f1: 0.9591
Epoch 10/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2721 - accuracy: 0.9268 - precision: 0.9519 - recall: 0.9124 - get_f1: 0.9315 - val_loss: 0.2012 - val_accuracy: 0.9536 - val_precision: 0.9598 - val_recall: 0.9482 - val_get_f1: 0.9539
Epoch 11/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2744 - accuracy: 0.9273 - precision: 0.9498 - recall: 0.9128 - get_f1: 0.9306 - val_loss: 0.1996 - val_accuracy: 0.9592 - val_precision: 0.9660 - val_recall: 0.9527 - val_get_f1: 0.9592
Epoch 12/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2817 - accuracy: 0.9243 - precision: 0.9489 - recall: 0.9087 - get_f1: 0.9281 - val_loss: 0.2006 - val_accuracy: 0.9564 - val_precision: 0.9623 - val_recall: 0.9517 - val_get_f1: 0.9569
Epoch 13/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2529 - accuracy: 0.9319 - precision: 0.9540 - recall: 0.9180 - get_f1: 0.9354 - val_loss: 0.1963 - val_accuracy: 0.9603 - val_precision: 0.9661 - val_recall: 0.9555 - val_get_f1: 0.9607
Epoch 14/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2725 - accuracy: 0.9282 - precision: 0.9490 - recall: 0.9141 - get_f1: 0.9310 - val_loss: 0.2059 - val_accuracy: 0.9613 - val_precision: 0.9675 - val_recall: 0.9579 - val_get_f1: 0.9626
Epoch 15/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2663 - accuracy: 0.9281 - precision: 0.9497 - recall: 0.9137 - get_f1: 0.9311 - val_loss: 0.2030 - val_accuracy: 0.9586 - val_precision: 0.9644 - val_recall: 0.9532 - val_get_f1: 0.9587
Epoch 16/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2650 - accuracy: 0.9291 - precision: 0.9503 - recall: 0.9159 - get_f1: 0.9325 - val_loss: 0.2044 - val_accuracy: 0.9603 - val_precision: 0.9673 - val_recall: 0.9562 - val_get_f1: 0.9616
Epoch 17/30
668/668 [==============================] - 7s 11ms/step - loss: 0.2673 - accuracy: 0.9277 - precision: 0.9515 - recall: 0.9132 - get_f1: 0.9316 - val_loss: 0.2050 - val_accuracy: 0.9583 - val_precision: 0.9659 - val_recall: 0.9542 - val_get_f1: 0.9599
Epoch 18/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2634 - accuracy: 0.9304 - precision: 0.9517 - recall: 0.9151 - get_f1: 0.9328 - val_loss: 0.1992 - val_accuracy: 0.9622 - val_precision: 0.9673 - val_recall: 0.9570 - val_get_f1: 0.9620
Epoch 19/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2595 - accuracy: 0.9295 - precision: 0.9523 - recall: 0.9156 - get_f1: 0.9333 - val_loss: 0.2073 - val_accuracy: 0.9592 - val_precision: 0.9640 - val_recall: 0.9570 - val_get_f1: 0.9604
Epoch 20/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2717 - accuracy: 0.9261 - precision: 0.9492 - recall: 0.9125 - get_f1: 0.9302 - val_loss: 0.2132 - val_accuracy: 0.9583 - val_precision: 0.9642 - val_recall: 0.9534 - val_get_f1: 0.9587
Epoch 21/30
668/668 [==============================] - 7s 10ms/step - loss: 0.2630 - accuracy: 0.9305 - precision: 0.9573 - recall: 0.9152 - get_f1: 0.9354 - val_loss: 0.2115 - val_accuracy: 0.9615 - val_precision: 0.9662 - val_recall: 0.9577 - val_get_f1: 0.9619
Epoch 22/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2595 - accuracy: 0.9291 - precision: 0.9531 - recall: 0.9154 - get_f1: 0.9335 - val_loss: 0.2090 - val_accuracy: 0.9577 - val_precision: 0.9638 - val_recall: 0.9557 - val_get_f1: 0.9597
Epoch 23/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2601 - accuracy: 0.9316 - precision: 0.9544 - recall: 0.9186 - get_f1: 0.9358 - val_loss: 0.2109 - val_accuracy: 0.9590 - val_precision: 0.9635 - val_recall: 0.9575 - val_get_f1: 0.9604
Epoch 24/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2552 - accuracy: 0.9320 - precision: 0.9543 - recall: 0.9177 - get_f1: 0.9354 - val_loss: 0.2131 - val_accuracy: 0.9603 - val_precision: 0.9655 - val_recall: 0.9585 - val_get_f1: 0.9619
Epoch 25/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2570 - accuracy: 0.9308 - precision: 0.9525 - recall: 0.9186 - get_f1: 0.9350 - val_loss: 0.2052 - val_accuracy: 0.9628 - val_precision: 0.9681 - val_recall: 0.9596 - val_get_f1: 0.9638
Epoch 26/30
668/668 [==============================] - 7s 10ms/step - loss: 0.2578 - accuracy: 0.9309 - precision: 0.9531 - recall: 0.9164 - get_f1: 0.9341 - val_loss: 0.2121 - val_accuracy: 0.9598 - val_precision: 0.9658 - val_recall: 0.9575 - val_get_f1: 0.9616
Epoch 27/30
668/668 [==============================] - 8s 12ms/step - loss: 0.2662 - accuracy: 0.9273 - precision: 0.9525 - recall: 0.9124 - get_f1: 0.9317 - val_loss: 0.2278 - val_accuracy: 0.9549 - val_precision: 0.9631 - val_recall: 0.9525 - val_get_f1: 0.9577
Epoch 28/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2596 - accuracy: 0.9292 - precision: 0.9536 - recall: 0.9151 - get_f1: 0.9337 - val_loss: 0.2121 - val_accuracy: 0.9586 - val_precision: 0.9654 - val_recall: 0.9566 - val_get_f1: 0.9610
Epoch 29/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2550 - accuracy: 0.9310 - precision: 0.9534 - recall: 0.9168 - get_f1: 0.9345 - val_loss: 0.2136 - val_accuracy: 0.9579 - val_precision: 0.9625 - val_recall: 0.9560 - val_get_f1: 0.9592
Epoch 30/30
668/668 [==============================] - 6s 9ms/step - loss: 0.2549 - accuracy: 0.9334 - precision: 0.9534 - recall: 0.9203 - get_f1: 0.9363 - val_loss: 0.2172 - val_accuracy: 0.9588 - val_precision: 0.9667 - val_recall: 0.9568 - val_get_f1: 0.9617

In [56]:
y_pred = model.predict(X_test)
y_pred = [(np.argmax(x)+1) for x in np.array(y_pred)]
y_pred = np.array(y_pred)

167/167 [==============================] - 1s 3ms/step

In [57]:
y_pred

array([ 78,   5,  66, ..., 107,  64, 287])

In [58]:
actual = [(np.argmax(x)+1) for x in np.array(y_test)]
actual = np.array(actual)

In [59]:
actual

array([ 78,   5,  66, ..., 107,  64, 287])

In [60]:
from sklearn.metrics import precision_recall_fscore_support, accuracy_score

print('weighted', precision_recall_fscore_support(actual, y_pred, average='weighted'))
print('micro',precision_recall_fscore_support(actual, y_pred, average='micro'))
print('macro',precision_recall_fscore_support(actual, y_pred, average='macro'))
print('accuracy', accuracy_score(actual, y_pred))

weighted (0.954062712442487, 0.9588323353293413, 0.9531222716398846, None)
micro (0.9588323353293413, 0.9588323353293413, 0.9588323353293413, None)
macro (0.803351221164334, 0.8015529530134899, 0.791659830229509, None)
accuracy 0.9588323353293413

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [61]:
# val_accuracy: 0.9530 - val_precision: 0.9618 - val_recall: 0.9480 - val_get_f1: 0.9547