In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [3]:
df_ques_cluster = pd.read_csv('/drive/My Drive/Research Project IIT-I/AP Question clusters.csv')

In [4]:
df_ques_cluster

,index,BlockName,Category,Year,Month,Day,Crop,DistrictName,QueryType,Sector,StateName,QueryText,KccAns,Cluster
0,23781986,SARAVAKOTA,Others,2020,6,10,Others,SRIKAKULAM,Government Schemes,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,-- RECOMMENDED TO CONTACT 8886612698,1
1,23824164,NELLORE,Others,2020,3,17,Others,NELLORE,Seeds,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,-- 8886613101,1
2,23824118,KODAVALUR,Green Manure,2020,3,16,KolanchiTephrosia Purpurea,NELLORE,Varieties,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,8886613686,1
3,23824098,MARRIPADU,Others,2020,3,15,Others,NELLORE,Government Schemes,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,8886613671,1
4,23821955,MANUBOLU,Others,2020,1,25,Others,NELLORE,Government Schemes,AGRICULTURE,ANDHRA PRADESH,MAO NUMBER,MAO NUMBER8886613708,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26714,23825672,CHILLAKUR,Oilseeds,2020,10,23,Groundnut pea nutmung phalli,NELLORE,Seeds,AGRICULTURE,ANDHRA PRADESH,GROUNDS NUT VARIETY,-- RECOMMENDED TO CONTACT 9989628385,568
26715,23825977,VENKATAGIRI,Oilseeds,2020,11,12,Groundnut pea nutmung phalli,NELLORE,Seeds,AGRICULTURE,ANDHRA PRADESH,kadiri ground nut varieties,Agricultural Research Station Kadiri - 515 591...,568
26716,23823419,RAPUR,Fruits,2020,2,25,Citrus,NELLORE,Agriculture Mechanization,HORTICULTURE,ANDHRA PRADESH,CITRUS Scab MANAGEMENT,recommended to spray amistar top azoxystrobind...,569
26717,23824455,BALAYAPALLE,Fruits,2020,7,6,Citrus,NELLORE,Plant Protection,HORTICULTURE,ANDHRA PRADESH,CITRUS SCAB MANAGEMENT,RECOMMENDED TO SPRAY CARBENDAZIM BAVISTIN 2GM ...,569
26718,23823420,RAPUR,Fruits,2020,2,25,Citrus,NELLORE,Nutrient Management,HORTICULTURE,ANDHRA PRADESH,CITRUS Scab MANAGEMENT,recommended to spray amistar top azoxystrobind...,569

In [5]:
import nltk
nltk.download('punkt')
from gensim.parsing.preprocessing import remove_stopwords
from nltk import word_tokenize
from nltk.stem import PorterStemmer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [6]:
ps = PorterStemmer()

In [7]:
def remove_special_char(string):
  special_characters=[',', '?', '.']
  normal_string = "".join(filter(lambda char: char not in special_characters , string))
  return normal_string

def clean_query(query):
  query = query.lower()
  query = query.replace('-', ' ')
  query = remove_special_char(query)
  query = remove_stopwords(query)

  processed_tokens = []
  for word in word_tokenize(query):
    if not word.isnumeric():
      processed_tokens.append(ps.stem(word))
  return ' '.join(processed_tokens)

In [8]:
processed_queries = df_ques_cluster.QueryText.apply(clean_query)

In [9]:
processed_queries

0                       mao number
1                       mao number
2                       mao number
3                       mao number
4                       mao number
                   ...
26714           ground nut varieti
26715    kadiri ground nut varieti
26716             citru scab manag
26717             citru scab manag
26718             citru scab manag
Name: QueryText, Length: 26719, dtype: object

In [32]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
cv = CountVectorizer()

In [33]:
vectors = cv.fit_transform(processed_queries).toarray()

In [34]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [35]:
vectors.shape

(26719, 1103)

In [36]:
labels = pd.get_dummies(df_ques_cluster.Cluster)

In [37]:
labels

,1,2,3,4,5,6,7,8,9,10,...,560,561,562,563,564,565,566,567,568,569
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26714,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26715,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
26716,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26717,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26718,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, y_train, y_test = train_test_split(vectors, labels, test_size = 0.2, random_state = 42)

In [40]:
X_train.shape

(21375, 1103)

In [41]:
import tensorflow as tf

In [42]:
embed_input = tf.keras.layers.Input(shape = (1103,), dtype = tf.float32, name = 'Inputs')
out = tf.keras.layers.Dropout(0.1, name = 'Dropout1')(embed_input)
out = tf.keras.layers.Dense(500, activation = 'relu', name = 'Dense1')(out)
out = tf.keras.layers.Dropout(0.1, name = 'Dropout2')(out)
out_final = tf.keras.layers.Dense(569, activation = 'softmax', name = 'Dense2')(out)

In [43]:
model = tf.keras.Model(inputs = [embed_input], outputs = [out_final])

In [44]:
model.summary()

Model: "model_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 Inputs (InputLayer)         [(None, 1103)]            0

 Dropout1 (Dropout)          (None, 1103)              0

 Dense1 (Dense)              (None, 500)               552000

 Dropout2 (Dropout)          (None, 500)               0

 Dense2 (Dense)              (None, 569)               285069

=================================================================
Total params: 837,069
Trainable params: 837,069
Non-trainable params: 0
_________________________________________________________________

In [45]:
import keras.backend as K

In [46]:
def get_f1(y_true, y_pred): #taken from old keras source code
    true_positives = K.sum(K.round(K.clip(y_true * y_pred, 0, 1)))
    possible_positives = K.sum(K.round(K.clip(y_true, 0, 1)))
    predicted_positives = K.sum(K.round(K.clip(y_pred, 0, 1)))
    precision = true_positives / (predicted_positives + K.epsilon())
    recall = true_positives / (possible_positives + K.epsilon())
    f1_val = 2*(precision*recall)/(precision+recall+K.epsilon())
    return f1_val

In [47]:
Metrics = [tf.keras.metrics.CategoricalAccuracy(name = 'accuracy'),
           tf.keras.metrics.Precision(name = 'precision'),
           tf.keras.metrics.Recall(name = 'recall'),
           get_f1
           ]

model.compile(optimizer ='adam',
               loss = 'categorical_crossentropy',
               metrics = Metrics)

In [48]:
history = model.fit(X_train, y_train, validation_data = (X_test, y_test), epochs = 30)

Epoch 1/30
668/668 [==============================] - 5s 6ms/step - loss: 1.7531 - accuracy: 0.7236 - precision: 0.9281 - recall: 0.5848 - get_f1: 0.6811 - val_loss: 0.6420 - val_accuracy: 0.8905 - val_precision: 0.9589 - val_recall: 0.8518 - val_get_f1: 0.9013
Epoch 2/30
668/668 [==============================] - 4s 5ms/step - loss: 0.6067 - accuracy: 0.8679 - precision: 0.9390 - recall: 0.8193 - get_f1: 0.8740 - val_loss: 0.3551 - val_accuracy: 0.9315 - val_precision: 0.9677 - val_recall: 0.9019 - val_get_f1: 0.9332
Epoch 3/30
668/668 [==============================] - 4s 6ms/step - loss: 0.4124 - accuracy: 0.8980 - precision: 0.9423 - recall: 0.8637 - get_f1: 0.9006 - val_loss: 0.2550 - val_accuracy: 0.9484 - val_precision: 0.9681 - val_recall: 0.9313 - val_get_f1: 0.9491
Epoch 4/30
668/668 [==============================] - 4s 6ms/step - loss: 0.3315 - accuracy: 0.9148 - precision: 0.9477 - recall: 0.8898 - get_f1: 0.9174 - val_loss: 0.2203 - val_accuracy: 0.9542 - val_precision: 0.9687 - val_recall: 0.9444 - val_get_f1: 0.9562
Epoch 5/30
668/668 [==============================] - 4s 5ms/step - loss: 0.3077 - accuracy: 0.9187 - precision: 0.9472 - recall: 0.8993 - get_f1: 0.9223 - val_loss: 0.2076 - val_accuracy: 0.9566 - val_precision: 0.9698 - val_recall: 0.9446 - val_get_f1: 0.9569
Epoch 6/30
668/668 [==============================] - 5s 7ms/step - loss: 0.2930 - accuracy: 0.9223 - precision: 0.9497 - recall: 0.9031 - get_f1: 0.9255 - val_loss: 0.2009 - val_accuracy: 0.9568 - val_precision: 0.9694 - val_recall: 0.9493 - val_get_f1: 0.9591
Epoch 7/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2953 - accuracy: 0.9230 - precision: 0.9486 - recall: 0.9047 - get_f1: 0.9257 - val_loss: 0.1968 - val_accuracy: 0.9570 - val_precision: 0.9695 - val_recall: 0.9502 - val_get_f1: 0.9597
Epoch 8/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2873 - accuracy: 0.9225 - precision: 0.9487 - recall: 0.9057 - get_f1: 0.9263 - val_loss: 0.1908 - val_accuracy: 0.9605 - val_precision: 0.9696 - val_recall: 0.9538 - val_get_f1: 0.9615
Epoch 9/30
668/668 [==============================] - 4s 5ms/step - loss: 0.2755 - accuracy: 0.9266 - precision: 0.9487 - recall: 0.9127 - get_f1: 0.9301 - val_loss: 0.1984 - val_accuracy: 0.9585 - val_precision: 0.9661 - val_recall: 0.9532 - val_get_f1: 0.9595
Epoch 10/30
668/668 [==============================] - 4s 5ms/step - loss: 0.2829 - accuracy: 0.9231 - precision: 0.9496 - recall: 0.9087 - get_f1: 0.9284 - val_loss: 0.1959 - val_accuracy: 0.9626 - val_precision: 0.9706 - val_recall: 0.9581 - val_get_f1: 0.9642
Epoch 11/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2614 - accuracy: 0.9282 - precision: 0.9525 - recall: 0.9129 - get_f1: 0.9320 - val_loss: 0.2036 - val_accuracy: 0.9571 - val_precision: 0.9661 - val_recall: 0.9534 - val_get_f1: 0.9596
Epoch 12/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2703 - accuracy: 0.9258 - precision: 0.9517 - recall: 0.9106 - get_f1: 0.9304 - val_loss: 0.2007 - val_accuracy: 0.9596 - val_precision: 0.9656 - val_recall: 0.9562 - val_get_f1: 0.9608
Epoch 13/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2722 - accuracy: 0.9254 - precision: 0.9501 - recall: 0.9119 - get_f1: 0.9302 - val_loss: 0.2013 - val_accuracy: 0.9603 - val_precision: 0.9669 - val_recall: 0.9566 - val_get_f1: 0.9616
Epoch 14/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2536 - accuracy: 0.9302 - precision: 0.9516 - recall: 0.9163 - get_f1: 0.9333 - val_loss: 0.2182 - val_accuracy: 0.9523 - val_precision: 0.9589 - val_recall: 0.9472 - val_get_f1: 0.9530
Epoch 15/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2548 - accuracy: 0.9312 - precision: 0.9544 - recall: 0.9166 - get_f1: 0.9348 - val_loss: 0.2107 - val_accuracy: 0.9568 - val_precision: 0.9655 - val_recall: 0.9538 - val_get_f1: 0.9595
Epoch 16/30
668/668 [==============================] - 4s 5ms/step - loss: 0.2690 - accuracy: 0.9270 - precision: 0.9510 - recall: 0.9140 - get_f1: 0.9319 - val_loss: 0.2093 - val_accuracy: 0.9596 - val_precision: 0.9676 - val_recall: 0.9564 - val_get_f1: 0.9619
Epoch 17/30
668/668 [==============================] - 4s 5ms/step - loss: 0.2500 - accuracy: 0.9302 - precision: 0.9516 - recall: 0.9164 - get_f1: 0.9334 - val_loss: 0.2160 - val_accuracy: 0.9598 - val_precision: 0.9640 - val_recall: 0.9566 - val_get_f1: 0.9602
Epoch 18/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2450 - accuracy: 0.9307 - precision: 0.9545 - recall: 0.9185 - get_f1: 0.9359 - val_loss: 0.2202 - val_accuracy: 0.9615 - val_precision: 0.9676 - val_recall: 0.9564 - val_get_f1: 0.9619
Epoch 19/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2587 - accuracy: 0.9275 - precision: 0.9509 - recall: 0.9142 - get_f1: 0.9318 - val_loss: 0.2204 - val_accuracy: 0.9570 - val_precision: 0.9648 - val_recall: 0.9528 - val_get_f1: 0.9587
Epoch 20/30
668/668 [==============================] - 4s 5ms/step - loss: 0.2576 - accuracy: 0.9295 - precision: 0.9546 - recall: 0.9161 - get_f1: 0.9346 - val_loss: 0.2279 - val_accuracy: 0.9596 - val_precision: 0.9651 - val_recall: 0.9560 - val_get_f1: 0.9604
Epoch 21/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2515 - accuracy: 0.9322 - precision: 0.9528 - recall: 0.9189 - get_f1: 0.9353 - val_loss: 0.2262 - val_accuracy: 0.9575 - val_precision: 0.9650 - val_recall: 0.9536 - val_get_f1: 0.9591
Epoch 22/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2452 - accuracy: 0.9320 - precision: 0.9537 - recall: 0.9175 - get_f1: 0.9349 - val_loss: 0.2260 - val_accuracy: 0.9611 - val_precision: 0.9679 - val_recall: 0.9583 - val_get_f1: 0.9630
Epoch 23/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2525 - accuracy: 0.9299 - precision: 0.9534 - recall: 0.9166 - get_f1: 0.9344 - val_loss: 0.2289 - val_accuracy: 0.9570 - val_precision: 0.9641 - val_recall: 0.9547 - val_get_f1: 0.9593
Epoch 24/30
668/668 [==============================] - 4s 5ms/step - loss: 0.2508 - accuracy: 0.9324 - precision: 0.9529 - recall: 0.9205 - get_f1: 0.9362 - val_loss: 0.2296 - val_accuracy: 0.9590 - val_precision: 0.9651 - val_recall: 0.9568 - val_get_f1: 0.9609
Epoch 25/30
668/668 [==============================] - 4s 5ms/step - loss: 0.2500 - accuracy: 0.9302 - precision: 0.9528 - recall: 0.9166 - get_f1: 0.9340 - val_loss: 0.2295 - val_accuracy: 0.9622 - val_precision: 0.9682 - val_recall: 0.9571 - val_get_f1: 0.9626
Epoch 26/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2437 - accuracy: 0.9321 - precision: 0.9536 - recall: 0.9182 - get_f1: 0.9353 - val_loss: 0.2422 - val_accuracy: 0.9557 - val_precision: 0.9626 - val_recall: 0.9525 - val_get_f1: 0.9574
Epoch 27/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2447 - accuracy: 0.9330 - precision: 0.9535 - recall: 0.9207 - get_f1: 0.9365 - val_loss: 0.2343 - val_accuracy: 0.9613 - val_precision: 0.9659 - val_recall: 0.9583 - val_get_f1: 0.9620
Epoch 28/30
668/668 [==============================] - 4s 5ms/step - loss: 0.2474 - accuracy: 0.9319 - precision: 0.9572 - recall: 0.9172 - get_f1: 0.9365 - val_loss: 0.2261 - val_accuracy: 0.9626 - val_precision: 0.9672 - val_recall: 0.9601 - val_get_f1: 0.9636
Epoch 29/30
668/668 [==============================] - 4s 5ms/step - loss: 0.2594 - accuracy: 0.9295 - precision: 0.9523 - recall: 0.9144 - get_f1: 0.9327 - val_loss: 0.2359 - val_accuracy: 0.9600 - val_precision: 0.9662 - val_recall: 0.9568 - val_get_f1: 0.9614
Epoch 30/30
668/668 [==============================] - 4s 6ms/step - loss: 0.2442 - accuracy: 0.9306 - precision: 0.9537 - recall: 0.9164 - get_f1: 0.9344 - val_loss: 0.2410 - val_accuracy: 0.9620 - val_precision: 0.9666 - val_recall: 0.9588 - val_get_f1: 0.9627

**Performance of model**

In [49]:
y_pred = model.predict(X_test)
y_pred = [(np.argmax(x)+1) for x in np.array(y_pred)]
y_pred = np.array(y_pred)

167/167 [==============================] - 0s 2ms/step

In [50]:
y_pred

array([ 78,   5,  66, ..., 107,  64, 287])

In [51]:
actual = [(np.argmax(x)+1) for x in np.array(y_test)]
actual = np.array(actual)

In [52]:
actual

array([ 78,   5,  66, ..., 107,  64, 287])

In [53]:
from sklearn.metrics import precision_recall_fscore_support, accuracy_score

print('weighted', precision_recall_fscore_support(actual, y_pred, average='weighted'))
print('micro',precision_recall_fscore_support(actual, y_pred, average='micro'))
print('macro',precision_recall_fscore_support(actual, y_pred, average='macro'))
print('accuracy', accuracy_score(actual, y_pred))

weighted (0.9561491506127491, 0.9620134730538922, 0.9567260551169102, None)
micro (0.9620134730538922, 0.9620134730538922, 0.9620134730538922, None)
macro (0.8122765809421821, 0.8044589858925703, 0.7983233188610152, None)
accuracy 0.9620134730538922

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))